<!-- parser_app/templates/parser_app/job_list.html -->

{% extends "parser_app/base.html" %}

{% block title %}Job List{% endblock %}

{% block content %}
<section>
    <h2>Available Jobs</h2>
    <table>
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Company</th>
                <th>Location</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td class="job-title">{{ job.name }}</td>
                    <td class="company">{{ job.employer.name }}</td>
                    <td class="location">{{ job.area.name }}</td>
                    <td class="description">{{ job.snippet.requirement }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
