<!-- parser_app/templates/parser_app/job_list.html -->

{% extends "parser_app/base.html" %}

{% block title %}Job List{% endblock %}

{% block content %}
<section>
    <h2>Search for Jobs</h2>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <h2>Available Jobs</h2>
    <table>
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Company</th>
                <th>Location</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.company }}</td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
